<div class="card w-25">

  {% if item.img != null %}
    <img src="{{ item.img | replace: '..', site.url }}" class="card-img-top" />
  {% else %}
    {% if item.youtube %}
      <img src="{% include youtube-thumb-url.html vid=item.youtube %}" class="card-img-top" />
    {% endif %}
  {% endif %}

  <div class="card-body">

    <a href="{% if item.external_url %}{{ item.external_url }}{% else %}{{ item.url | relative_url }}{% endif %}" class="card-title">{{ item.title | escape }}</a>

    <div class="card-subtitle">
      {% if item.who %}{{ item.who }}{% endif %}{% if item.role %} - {{ item.role }}{% endif %}
    </div>

    <div class="card-text">
      {% if item.summary %}{{ item.summary }}{% endif %}
    </div>

  </div>

</div>
