<div id="social" class="container text-center pt-3">
  <a href="email:info@timbedard.com" class="btn-sm btn-link text-muted" style="text-decoration: none">
    <i class="fa fa-2x fa-envelope"></i>
  </a>
  <a href="https://twitter.com/timsical" class="btn-sm btn-link text-muted" style="text-decoration: none">
    <i class="fa fa-2x fa-twitter"></i>
  </a>
  <a href="https://github.com/timbedard" class="btn-sm btn-link text-muted" style="text-decoration: none">
    <i class="fa fa-2x fa-github"></i>
  </a>
  <a href="https://linkedin.com/timbedard" class="btn-sm btn-link text-muted" style="text-decoration: none">
    <i class="fa fa-2x fa-linkedin"></i>
  </a>
</div>
