<nav class="navbar navbar-fixed-top navbar-expand-sm navbar-light">

  <!-- Collapse Button --!>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Brand --!>
  <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.name | escape }}</a>

  <!-- Pages --!>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
      <ul class="navbar-nav">
        {% for path in page_paths %}
          {% assign nav_page = site.pages | where: "path", path | first %}
          {% if nav_page.title %}
            <li class="nav-item">
            <a class="nav-link{% if page.title == nav_page.title %} active{% endif %}" href="{{ nav_page.url | relative_url }}">{{ nav_page.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
  </div>

  <div></div>

</nav>
