---
layout: page
---

<div class="container">

  {{ content }}

  <div class="row justify-content-center">

    {% assign _items = site.cv | where: "category", page.category | sort: "year" %}

    {% for item in _items %}
      <div class="card">
        {% comment %} <img src="..." / class="card-img-top"> {% endcomment %}
        <div class="card-body">
          <a href="{{ item.url | relative_url }}" class="card-title">{{ item.title | escape }}</a>
          <div class="card-subtitle">
            {% if item.who %}{{ item.who }}{% endif %} - {{ item.role }}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

</div>
