<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    <header role="banner">
      {% if page.category %}{% assign nav_cat = page.category %}{% endif %}
      {% if page.layout == 'post' or page.title == 'Blog' %}{% assign nav_cat = 'blog' %}{% endif %}
      {% include nav.html %}
    </header>

    <main id="content" role="main">
      {{ content }}
    </main>

    <footer role="contentinfo">
      {% include footer.html %}
    </footer>

    {% include scripts.html %}

  </body>
</html>
